/* FOOTER */

footer {
   background-color: var(--corMarromEscura);
   padding: 1rem 3rem;
}

footer .Logo-footer {
   display: flex;
   justify-content: space-around;
   align-items: center;
}

footer .Logo-footer .Logo-img {
   width: 150px;
} 

footer .Links-footer {
   display: flex;
   row-gap: 10px;
}

footer .Links-footer li a {
   color: var(--corMarromClara);
   font-size: 1.1rem;
   padding: 7px;
}

footer .Links-footer li a:hover  {
   background-color: var(--corMarromClara);
   color: var(--corMarromEscura);
   border-radius: 5px;
}

footer .Icons {
   display: flex;
   column-gap: 10px;
}

footer .Icons img {
   width: 25px;
   cursor: pointer;
}

footer .Icons img:hover {
   transform: scale(1.2)
}

footer .Direitos {
   border-top: 1px solid var(--corMarromClara);
   margin-top: 20px;
   padding-top: 20px;
   text-align: center;
   color: var(--corMarromClara);
   font-size: .9rem;
}

footer .Direitos p a {
   color: var(--corMarromClara);
}

footer .Direitos p a:hover {
   color: var(--corCinzaClaro);
   text-decoration: underline;
}

footer span {
   color: #fff;
}

footer span#anoAtual {
   color: var(--corMarromClara);
}

/* BOTÃO VOLTAR AO TOPO */

#VoltarTop {
   cursor: pointer;
   position: fixed;
   z-index: 10;
   bottom: 1rem;
   right: 2rem;
   background-color: #DEE2E6;
   width: 40px;
   height: 40px;
   border-radius: 50%;
   border: none;
   display: grid;
   place-items: center;
}

#VoltarTop:active {
   transform: scale(0.90);
}
#VoltarTop:hover {
   background-color: rgba(220, 220, 220, 0.539);
}

#VoltarTop img{
   width: 25px;
}

/* MEDIA QUERRY */
@media (max-width: 768px) {
   main .formulario {
      grid-template-columns: 1fr;
      row-gap: 50px;
   }

   footer .Links-footer li a {
      font-size: .8rem;
   }

   footer .Icons img {
      width: 20px;
   }

   #VoltarTop {
      display: none;
   }
}

@media (max-width: 690px) {
   .forms div {
      column-gap: 15px;
   }

   footer .Logo-footer {
      flex-direction: column;
      row-gap: 25px;
   }
}

@media (max-width: 480px) {
   main .formulario {
      row-gap: 20px;
   }

   .donos-arqueogeo div > p {
      font-size: .7rem;
   }

   footer {
      padding: 1rem 1rem;
   }

   footer .Logo-footer {
      row-gap: 15px;
   }

   footer .Links-footer {
      flex-direction: column;
      text-align: center;
   }

   footer .Direitos {
      font-size: .6rem;
   }
}