.header {
    padding: 0 3rem;
    position: relative;
    height: 100px;
    display: flex;
    align-items: center;
    background-color: var(--corCinzaClaro);
    border-bottom: 1px solid var(--corMarromClara);
}

/* OPÇÕES DE LINKS */
.header .navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .Logo-Arqueogeo img {
    width: 200px;
}

.navbar .links {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.links li {
    padding: 5px;
    display: inline-block;
    position: relative;   
    cursor: pointer; 
}

.links li::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: var(--corMarromEscura);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.35s ease-out;
}

.links li:hover::before{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.links > li a {
    font-family: var(--fontPoppins);
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--corMarromEscura);
}

.header .menu-suspenso {
    display: none;
}

/* MEDIA QUERRY */
@media(max-width: 768px) {
    .header {
        padding: 0 1.5rem;
    }

    .navbar .links {
        display: none;
    }

    .navbar .hamburger {
        display: block;
    }

    /*MENU SUSPENSO*/
    .header .menu-suspenso {
        font-family: var(--fontPoppins);
        position: fixed;
        height: 100%;
        width: 0;
        right: 0;
        top: 0;
        background: rgba(168, 123, 77, 0.80);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: width .5s cubic-bezier(0.175, 0.885, .70, 1.500);
        z-index: 98;
    }

    .header .menu-suspenso.is-active {
        width: 50%;
        border: 1px solid rgba(168, 123, 77, 0.47);
    }

    .header .menu-suspenso li{
        position: relative;
        padding: 30px 0;
        width: 100%;
        text-align: center;
        cursor: pointer ;
    }

    .menu-suspenso li::before {
        content: "";
        position: absolute;
        width: 100%;
        bottom: 0;
        top: 0;
        left: 0;
        z-index: -1;
        background-color: rgba(168, 123, 77, 0.65);
        transform: scaleX(0);
        transform-origin: bottom right;
        transition: transform 0.45s ease-out;
    }

    .menu-suspenso li:hover::before{
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    .header .menu-suspenso li a {
        color: #fff;
        font-size: 1.1rem;
    }
}

@media(max-width: 480px) {
    .header {
        padding: 0 1rem;
    }

    .navbar .Logo-Arqueogeo img {
        width: 170px;
    }

    .header .menu-suspenso.is-active {
        width: 100%;
        height: 100%;
    }

    .header .menu-suspenso li a {
        font-size: 1rem;
    }
}