.header {
    padding: 0 3rem;
    position: relative;
    height: 100px;
    display: flex;
    align-items: center;
}

/* OPÇÕES DE LINKS */
.header .navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .Logo-Arqueogeo img {
    width: 200px;
}

.navbar .links {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.links li {
    padding: 5px;
    display: inline-block;
    position: relative;   
    cursor: pointer; 
}

.links li::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: var(--corMarromEscura);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.35s ease-out;
}

.links li:hover::before{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.links li a {
    font-family: var(--fontPoppins);
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--corMarromEscura);
}

/* ICONE HAMBURGUER */
.navbar .menu {
    color: var(--corMarromEscura);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

/*MENU SUSPENSO*/
.header .menu-suspenso {
    font-family: var(--fontPoppins);
    height: 0;
    display: none;
    position: absolute;
    right: 2.5rem;
    top: 85px;
    width: 40%;
    background: var(--corMarromClara);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.header .menu-suspenso.aberto {
    height: 260px;
}

.header .menu-suspenso li{
    position: relative;
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer ;
}

.menu-suspenso li::before {
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: var(--cor2);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.35s ease-out;
}

.menu-suspenso li:hover::before{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.header .menu-suspenso li a {
    color: #fff;
}

/* MEDIA QUERRY */
@media(max-width: 768px) {
    .navbar .links {
        display: none;
    }

    .navbar .menu {
        display: block;
    }

    .header .menu-suspenso {
        display: block;
    }
}

@media(max-width: 480px) {
    .navbar .Logo-Arqueogeo img {
        width: 150px;
    }

    .header .menu-suspenso {
        left: 2rem;
        width: unset;
    }
}