.main .Sessão-Carrossel {
   margin: 0 auto;
   height: 300px;
   width: 100%;
   overflow: hidden;
}

.Sessão-Carrossel .Carrossel-track {
   width: 400%;
   height: 100%;
   display: flex;
}

.Sessão-Carrossel .Carrossel-track input {
   display: none;
}

.Carrossel-track .carrossel {
   width: 25%;
   position: relative;
   transition: 1s;
}

.carrossel h3 {
   position: absolute;
   font-size: 1rem;
   font-weight: 600;
   line-height: 1.905rem;
   letter-spacing: 1.5px;
   padding: 10px;
   border-radius: 5px;
   color: var(--corMarromClara);
   background-color: rgba(0, 0, 0, 0.430);
   width: 50%;
   left: 70px;
   top: 20%;
}

.carrossel h3 span {
   color: var(--corCinzaClaro);
}

.carrossel img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.carrossel .ImgMobile {
   display: none;
}

.manual-btn {
   border: 1px solid var(--corMarromEscura);
   padding: 5px;
   border-radius: 10px;
   cursor: pointer;
   transition: 1s;
}

.manual-btn:hover {
   background-color: var(--corMarromClara)
}

.navigation-auto, .manual-navigation {
   position: absolute;
   width: 100%;
   gap: 7px;
   display: flex;
   justify-content: center;
}

.manual-navigation {
   margin-top: -40px;
}

.navigation-auto {
   margin-top: 260px;
}

.navigation-auto div {
   border: 1px solid var(--corMarromEscura);
   padding: 5px;
   border-radius: 10px;
   cursor: pointer;
   transition: 1s;
}

#radio1:checked ~ .primeiro {
   margin-left: 0;
}
#radio2:checked ~ .primeiro {
   margin-left: -25%;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
   background-color: var(--corMarromClara);
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
   background-color: var(--corMarromClara);
}

/* INTRODUÇÃO */
.main .Introducao {
   min-width: 90%;
   padding: 130px 60px;
   background: url(../Imagens/Ruinas-arqueologicas2.png) no-repeat center / cover;
}

.main .Introducao .intro-texto {
   height: 100%;
   width: 40%;
}

.main .Introducao .intro-texto {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.main .Introducao .intro-texto h1 {
   font-size: 1.5rem;
   letter-spacing: 1.3px;
   font-weight: 500;
   margin-bottom: 10px;
   color: var(--corMarromEscura);
}

.main .Introducao .intro-texto p {
   font-size: .90rem;
   margin-bottom: 10px;
   line-height: 22px;
   color: var(--corMarromEscura);
}

.main .Introducao .intro-texto a {
   margin-top: 15px;
   text-align: center;
   font-size: .85rem;
   letter-spacing: 1px;
   padding: 10px 0;
   width: 140px;
   color: var(--corMarromEscura);
   background: transparent;
   border-radius: 5px;
   border: 1px solid var(--corMarromClara);
   box-shadow: inset 0 0 0 0 var(--corMarromEscura);
   cursor: pointer;
   transition: ease-out .5s;
}

.main .Introducao .intro-texto a:hover {
   color: white;
   box-shadow: inset 0 -100px 0 0 var(--corMarromClara);
}

.main .Introducao .intro-texto a:active {
   transform: scale(0.9);
}

/* SERVIÇOS */

.main .Serviços {
   padding: 60px 30px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   row-gap: 70px;
}

.Serviços .Serviços-textos h2 {
   font-size: 1.3rem;
   font-weight: 500;
   letter-spacing: 1.3px;
   text-align: center;
   color: var(--corMarromEscura);
   margin-bottom: 20px;
}

.Serviços .Serviços-textos p {
   text-align: center;
   color: var(--corMarromEscura);
}

.Serviços .ServiçosRealizados {
   /* height: 230px; */
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   align-items: center;
   gap: 25px;
}

.Card {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border: 1px solid var(--corMarromEscura);
   border-radius: 2px;
   width: 100%;
   height: 100%;
   padding: 40px 20px;
   transition: .3s;
   cursor: pointer;
}

.Card:hover {
   background-color: var(--corMarromEscura);
}
.Card:hover h3 {
   color: var(--corCinzaClaro);
}
.Card:hover img {
   filter: brightness(0) invert(1) grayscale(1);
}

.Card h3 {
   word-wrap: break-word;
   text-align: center;
   font-size: .9rem;
   font-weight: 500;
   color: var(--corMarromEscura);
}

.ServiçosRealizados .Card img {
   width: 130px;
   margin-bottom: 15px;
}

.main .Serviços a {
   text-align: center;
   font-size: .85rem;
   letter-spacing: 1px;
   padding: 10px 0;
   width: 140px;
   color: var(--corMarromEscura);
   background: transparent;
   border-radius: 5px;
   border: 1px solid var(--corMarromClara);
   box-shadow: inset 0 0 0 0 var(--corMarromEscura);
   cursor: pointer;
   transition: ease-out .5s;
}

.main .Serviços a:hover {
   color: white;
   box-shadow: inset 0 -100px 0 0 var(--corMarromClara);
}

.main .Serviços a:active {
   transform: scale(0.9);
}

/* CLIENTES */

.main .Clientes {
   padding: 60px 30px;
   background-color: var(--corCinzaClaro);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   row-gap: 20px;
}

.Clientes h2 {
   font-size: 1.3rem;
   font-weight: 500;
   letter-spacing: 1.3px;
   text-align: center;
   color: var(--corMarromEscura);
}

.Clientes .Slider {
   height: 250px;
   margin: auto;
   position: relative;
   width: 100%;
   display: grid;
   place-items: center;
   overflow: hidden;
}

.Slider::after, .Slider::before {
   background: linear-gradient(to right, #F8F9FA 0%, rgba(169, 134, 93, 0) 100%);
   content: "";
   height: 100%;
   position: absolute;
   width: 25%;
   z-index: 2;
}

.Slider::before {
   top: 0;
   left: 0;
}

.Slider::after {
   top: 0;
   right: 0;
   transform: rotateZ(180deg);
}

.Slider .Slider-track {
   display: flex;
   column-gap: 30px;
   width: calc(270px * 10);
   animation: scroll 30s linear infinite;
}

.Slider .Slider-track:hover {
   animation-play-state: paused;
}

.Slider-track .Slide {
   height: 200px;
   width: 270px;
   display: flex;
   align-items: center;
   padding: 10px;
   perspective: 180px;
}

.Slider-track .Slide img {
   width: 100%;
   transition: transform .6s;
   border-radius: 15px;
}
.Slider-track .Slide img:hover {
   transform: translateZ(25px);
}

.Clientes #VerTodos { 
   text-align: center;
   font-size: .85rem;
   letter-spacing: 1px;
   padding: 10px 0;
   width: 140px;
   color: var(--corMarromEscura);
   background: transparent;
   border-radius: 5px;
   border: 1px solid var(--corMarromClara);
   box-shadow: inset 0 0 0 0 var(--corMarromEscura);
   cursor: pointer;
   transition: ease-out .5s;
}

.Clientes #VerTodos:hover {
   color: white;
   box-shadow: inset 0 -100px 0 0 var(--corMarromClara);
}

.Clientes #VerTodos:active {
   transform: scale(0.9);
}

@keyframes scroll {
   0% {
      transform: translateX(0);
   }
   100% {
      transform: translateX(calc(-270px * 5));
   }
}

/* MEDIA QUERRY */

@media (max-width: 768px) {
   /* SESSÃO CARROSSEL */
   .Sessão-Carrossel{
      height: 450px;
   }

   .carrossel h3 {
      font-size: .9rem;
      line-height: 1.9rem;
      letter-spacing: 1.5px;
      width: unset;
      left: 3rem;
      right: 3rem;
      top: 30%;
   }

   .carrossel .ImgMobile {
      display: block;
   }

   .carrossel .ImgDesktop {
      display: none;
   }

   /* SESSÃO INTRODUÇÃO */

   .main .Introducao {
      padding: 90px 40px;
   }

   .main .Introducao .intro-texto {
      height: 100%;
      width: 65%;
   }

   /* SESSÃO SERVIÇOS */

   .main .Serviços {
      padding: 60px 20px;
      row-gap: 60px;
   }

   .main .Serviços h1 {
      font-size: 1rem;
   }

   .Serviços .Serviços-textos p {
      font-size: .8rem;
   }

   .main .Serviços .ServiçosRealizados {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
   }

   .Serviços .ServiçosRealizados h3 {
      font-size: .8rem;
   }

   .Serviços .ServiçosRealizados .Card img {
      width: 120px;
   }

   /* SESSÃO CLIENTES */

   .main .Clientes {
      padding: 40px 20px;
   }

   .main .Clientes h2 {
      font-size: 1rem;
   }

   .Clientes .Slider .Slider-track{
      width: calc(220px * 10);
   }

   .Clientes .Slider .Slider-track .Slide{
      width: 220px;
   }
}

@media (max-width: 480px) {
   /* SESSÃO CARROSSEL */

   .carrossel h3 {
      font-size: .7rem;
      line-height: 1.9rem;
      letter-spacing: 1px;
      width: unset;
      left: 2rem;
      right: 2rem;
      top: 15%;
   }

   /* SESSÃO INTRODUÇÃO */

   .main .Introducao .intro-texto {
      height: 100%;
      width: 100%;
   }

   .main .Introducao .intro-texto p {
      font-size: .85rem;
   }

   /* SESSÃO SERVIÇOS */

   .main .Serviços {
      row-gap: 30px;
   }

   .main .Serviços .ServiçosRealizados {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(4, 1fr);
      row-gap: 20px;
   }
}