/* INTRODUÇÃO */
.main .Introducao {
   height: 80vh;
   min-width: 90%;
   padding: 64px;
   background: url(../Imagens/Ruinas-arqueologicas2.png) no-repeat center / cover;
}

.main .Introducao .intro-texto {
   height: 100%;
   width: 40%;
}

.main .Introducao .intro-texto {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.main .Introducao .intro-texto p {
   font-size: .90rem;
   margin-bottom: 10px;
   color: var(--corMarromEscura);
}

.main .Introducao .intro-texto a {
   margin-top: 15px;
   text-align: center;
   font-size: .85rem;
   letter-spacing: 1px;
   padding: 10px 0;
   width: 140px;
   color: var(--corMarromEscura);
   background: transparent;
   border-radius: 5px;
   border: 1px solid var(--corMarromClara);
   box-shadow: inset 0 0 0 0 var(--corMarromEscura);
   cursor: pointer;
   transition: ease-out .5s;
}

.main .Introducao .intro-texto a:hover {
   color: white;
   box-shadow: inset 0 -100px 0 0 var(--corMarromClara);
}

.main .Introducao .intro-texto a:active {
   transform: scale(0.9);
}

/* SERVIÇOS */

.main .Serviços {
   padding: 30px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   row-gap: 40px;
}

.main .Serviços h1 {
   font-size: 1.3rem;
   font-weight: 500;
   text-align: center;
   color: var(--corMarromEscura);
}

.Serviços .ServiçosRealizados {
   width: 90%;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   align-items: center;
   column-gap: 20px;
}

.Card {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.Card h3 {
   word-wrap: break-word;
   text-align: center;
   font-size: 1rem;
   font-weight: 500;
   color: var(--corMarromEscura);
}

.ServiçosRealizados .Card img {
   width: 140px;
}

.main a {
   text-align: center;
   font-size: .85rem;
   letter-spacing: 1px;
   padding: 10px 0;
   width: 140px;
   color: var(--corMarromEscura);
   background: transparent;
   border-radius: 5px;
   border: 1px solid var(--corMarromClara);
   box-shadow: inset 0 0 0 0 var(--corMarromEscura);
   cursor: pointer;
   transition: ease-out .5s;
}

.main a:hover {
   color: white;
   box-shadow: inset 0 -100px 0 0 var(--corMarromClara);
}

.main a:active {
   transform: scale(0.9);
}

/* MEDIA QUERRY */

@media (max-width: 768px) {
   .main .Introducao {
      height: 90vh;
      padding: 40px;
   }

   .main .Introducao .intro-texto {
      height: 100%;
      width: 65%;
   }

   .main .Serviços {
      padding: 20px;
      row-gap: 25px;
   }

   .main .Serviços h1 {
      font-size: 1rem;
   }

   .main .Serviços .ServiçosRealizados {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
   }

   .Serviços .ServiçosRealizados h3 {
      font-size: .8rem;
   }

   .Serviços .ServiçosRealizados .Card img {
      width: 120px;
   }
}

@media (max-width: 480px) {
   .main .Introducao {
      height: 120vh;
      padding: 30px;
   }

   .main .Introducao .intro-texto {
      height: 100%;
      width: 100%;
   }
   .main .Introducao .intro-texto p {
      font-size: .85rem;
   }

   .main .Serviços .ServiçosRealizados {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(4, 1fr);
      row-gap: 20px;
   }
}