@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --corMarromClara: #a87b4d;
    --corMarromEscura: #4e2e10;

    --cor1: #8c6d4a;
    --cor2: #603813;
    --cor3: #482a13;
    --cor4: #341d10;

    --fontPoppins: 'Poppins', sans-serif;
}

*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: var(--fontPoppins);
}

body {
    background: url(../Imagens/Background-Topology.jpg) no-repeat center / cover;
    background-attachment: fixed;
}

*::-webkit-scrollbar {
    width: 4px;
}

*::-webkit-scrollbar-track {
    background: #fff;
}

*::-webkit-scrollbar-thumb {
    background: var(--cor4);
}