main {
    text-align: center;
}

main .areaTema1 .titulo h1 {
    color: var(--corMarromClara);
    font-size: 1.5rem;
    font-weight: 600;
    margin: 15px 0;
}

main .areaTema1 {
    padding: 30px 20px;
    margin: 0 auto;
    min-height: 100vh;
    background: url(../Imagens/Serviços-Imagens/bg-muda.jpg) no-repeat center / cover;
    background-attachment: fixed;
}

.areaTema1 h2, .areaTema2 h2, .areaTema3 h2, .areaTema4 h2{
    font-size: 1.3rem;
    font-weight: 500;
    margin: 10px 0;
    color: var(--corMarromClara);
}

.areaTema2 {
    padding: 10px 20px;
    margin: 0 auto;
    min-height: 100vh;
}

.TextoImg {
    display: flex;
    margin: 10px auto;
    justify-content: space-around;
}

.TextoImg .textos {
    max-width: 65%;
}

.TextoImg .textos p {
    text-align: start;
    line-height: 1.7rem;
    padding: 5px 20px;
    color: var(--corCinzaClaro);
}

.TextoImg .textos p:not(:last-child) {
    margin-bottom: 15px;
}

.TextoImg .textos p strong {
    color: var(--corMarromClara);
}

.TextoImg .textos h3 {
    text-align: center;
    font-weight: 500;
    margin: 20px;
    color: var(--corCinzaClaro);
}

.TextoImg .imagem img {
    width: 300px;
    align-items: baseline;
}

.textos details {
    margin: 15px;
    border: var(--corMarromEscura) solid 2px;
    border-radius: 5px;
    background-color: var(--corCinzaClaro);
    text-align: center;
    max-width: 700px;
}

.textos details {
    margin: 0 auto;
    padding: 5px;
}


/* Teste modal */

.RegFund{
    margin: 15px;
    border: var(--corMarromEscura) solid 2px;
    border-radius: 5px;
    background-color: var(--corCinzaClaro);
    text-align: center;
    max-width: 700px;
    font-size: 1rem;
    padding: 10px;
}

.textos .modal{
    margin: auto;
    border: var(--corMarromEscura) solid 2px;
    border-radius: 5px;
    background-color: var(--corCinzaClaro);
    max-width: 600px;
    padding: 10px;
    position: relative;
}

.modal2{
    width: 500px;
    height: 500px;
    background-color: #FFF;
    padding: 10px;
    box-shadow: 0 0 10px black;
}

.modal-container{
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}

.modal-show{
    opacity: 1;
    pointer-events: auto;
}

.fechar{
    text-decoration: none;
    border: none;
    color: black;
    font-size: larger;
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    background-color: var(--corCinzaClaro);
}

.fechar img{
    width: 16px;
}